<div class="container-fluid">
    <div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                   <h1>Experiencia laboral</h1>
                </li>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo asperiores maiores exercitationem ad impedit pariatur. Possimus maiores deleniti ipsa atque corporis, earum culpa voluptates iusto animi sequi, necessitatibus distinctio.
                </p>
            </ul>
        </div>
    </div>    
</div>
