<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container">
        <div class="col-sm-12 col-md-7 col-lg-7 col parte1">
            <h2>Portafolio Web</h2>
            <p>Proyecto realizado en la 2da etapa de ARGENTINA PROGRAMA, consta de un Portafolio web,con mis datos personales, estudios,experiencias y conocimientos de las tecnologias. </p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/Portafio web.png" class="img-fluid img-proyecto">
        </div>
        <div class="col-sm-12 col-md-7 col-lg-7 col parte3">
            <h2>Pagina Web de mi ciudad</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laboriosam tenetur soluta commodi sit nihil sunt ea, dolor iusto. Laboriosam minima similique amet alias nulla doloremque iusto nesciunt cupiditate minus pariatur.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte4">
            <img src="../../../assets/rg.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>
