<div class="row">
      <h1>Hard & Soft skills</h1>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="65"
          [radius]="100"
          [title]="'HTML'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="60"
          [radius]="100"
          [title]="'CSS'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="50"
          [radius]="100"
          [title]="'JAVASCRIPT'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="60"
          [radius]="100"
          [title]="'JAVA'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="60"
          [radius]="100"
          [title]="'C++'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="40"
          [radius]="100"
          [title]="'PYTHON'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="65"
          [radius]="100"
          [title]="'GITHUB'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="60"
          [radius]="100"
          [title]="'INGLES'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
      <div class="text-center col-sm-4 col-md-4 col-lg-4">
          <circle-progress
          [percent]="100"
          [radius]="100"
          [title]="'TRABAJO GRUPAL'"
          [titleFontSize]="'16'"
          [showUnits]="false"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#000'"
          [innerStrokeColor]="'#8D8D8D'"
          [animation]="true"
          [animationDuration]="600"
        ></circle-progress>
      </div>
  </div>
 
