<div class="container-fluid">
    <div class="row">
        <h1>Experiencia laboral</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                    <p><strong>Sin experiencia laboral ya que termine el secundario en el año 2021, busco sumar experiencia de trabajo, tengo muchas expetativas,ganas y energias de seguir aprendiendo en el mundo de la programacion</strong></p>
                </li>
                <p>
                   
                </p>
            </ul>
        </div>
    </div>    
</div>
