<div class="container-fluid">
    <div class="row">
        <h1>Educacion</h1>
        <div class="col-lg-1"></div>
        <div class="col-lg-11">
            <ul>
                <li>
                   <h3>TECNICATURA UNIVERSITARIA EN PROGRAMACION-UTN</h3>
                </li>
                <p>
                   2022-ACTUALIDAD
                </p>
            </ul>
            <ul>
                <li>
                   <h3>CURSO ARGENTINA PROGRAMA 1RA ETAPA #SEPROGRAMAR</h3>
                </li>
                <p>
                    TERMINADO EN 2022
                </p>
            </ul>
            <ul>
                <li>
                   <h3>CURSO ARGENTINA PROGRAMA 2DA ETAPA #YOPROGRAMO</h3>
                </li>
                <p>
                    2022-ACTUALIDAD
                </p>
            </ul>
            <ul>
                <li>
                   <h3>CURSO DE GOOGLE "INTRODUCCION AL DESARROLLO WED: HTML"</h3>
                </li>
                <p>
                    TERMINADO EN 2022
                </p>
            </ul>
            <ul>
                <li>
                   <h3>Curso programacion FULL STACK Egg Educacion</h3>
                </li>
                <p>
                    2022-ACTUALIDAD
                </p>
            </ul>
        </div>
    </div>
</div>
